# Node modules
node_modules

# Build outputs
dist
reports/coverage/
reports/storybook/
reports/playwright/
reports/api/
reports/bundle/

# Test runner artefacts
playwright-report
test-results


# Turbo cache
.turbo

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# IDE/editor directories
.vscode
.idea

# OS specific files
.DS_Store
Thumbs.db

*storybook.log
storybook-static
docs/dyn-ui-parallel-pack.zip
